SPRING_PROFILES_ACTIVE=dev

DB_URL=jdbc:postgresql://localhost:5432/lendo
DB_USERNAME=postgres
DB_PASSWORD=postgres

GOOGLE_CLIENT_ID=dummy-google-client-id
GOOGLE_CLIENT_SECRET=dummy-google-client-secret
JWT_SECRET_KEY=local-development-secret-key-for-jwt-at-least-32-bytes
PORT=10000

FRONTEND_URL=http://localhost:5173

CLOUDINARY_CLOUD_NAME=dummy-cloud-name
CLOUDINARY_API_KEY=dummy-cloudinary-key
CLOUDINARY_API_SECRET=dummy-cloudinary-secret
